
<div class="container">
    <div class="row px-3">
      <div class="col-lg-6 col-xl-4 card flex-row mx-auto px-0">
        

        <div class="card-body">
          <h4 class="title text-center mt-4">
            Login into account
          </h4>
          <form class="form-box px-3">
            <div class="form-input">
              <span><i class="fa fa-user-o"></i></span>
              <input type="text" name="username" placeholder="Username" tabindex="10"  [formControl]="username">      
            </div>
            <div><span style="color: red;" *ngIf="username && username.invalid && username.touched">&nbsp;&nbsp;&nbsp;&nbsp;This field is invalid</span> </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input type="password" name="password" placeholder="Password"  [formControl]="password">   
            </div>
            <div><span style="color: red;" *ngIf="password && password.invalid && password.touched">&nbsp;&nbsp;&nbsp;&nbsp;This field is invalid </span></div>
            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cb1" name="">
                <label class="custom-control-label" for="cb1">Remember me</label>
              </div>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-block text-uppercase" (click)="onSubmit()">
                Login
              </button>
            </div>

            <div class="text-right">
              <a href="#" class="forget-link">
                Forget Password?
              </a>
            </div>

            <hr class="my-4">

            <div class="text-center mb-2">
              Don't have an account?
              <a href="#" class="register-link">
                Register here
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

